.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(4px);
}

h1 {
    grid-area: h1;
    color: white;
    font-family: 'Trispace', sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

h1 a:hover{
    opacity: 0.75;
    color: red;
    transition: opacity 0.25s ease-out;
}

nav {
    grid-area: nav;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

nav ul li {
    opacity: 1;
    margin-left: 10vw;
}

nav > ul > li a:hover {
    opacity: 0.75;
    color: red;
    transition: opacity 0.25s ease-out;
}

.contact > ul {
    list-style-type: none;
}

.contact > ul > li {
    margin: 0.5em;
}

a {
    color:  white;
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
}

.topbar {
    position: fixed;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    grid-template-areas: "h1 nav";  
    top: 0;
    width: 100vw;
}

main {
    position: fixed;
    display: block;
    height: 77%;
    width: 71.5%;
    background: rgba(0, 0, 0, 0.5);
    bottom: 10vh;
    left: 30vh;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "info contact"
                        "info skills"
                        "info education";
    font-size: 1.5vh;
    font-size: 0.75vw;
    }
    
    
}

.info1 {
    grid-area: info;
}


.info1 ul li {
    margin: 0.5em;
}

.contact {
    grid-area: contact;
}


.skills {
    grid-area: skills;
}


.skills ul li {
    margin: 0.5em;
}

.education {
    grid-area: education;
}


main div {
    color: white;
    font-family: 'Trispace', sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Trispace';
    font-weight: lighter;
}

.close {
    display: none;
}

.navmenu {
    display: none;
}

.info2 {
    font-size: 2vh;
}