.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(4px);
    z-index: -5;
}

img {
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
}

h1 {
    grid-area: h1;
    color: white;
    font-family: 'Trispace', sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

h1 a:hover{
    opacity: 0.75;
    color: red;
    transition: opacity 0.25s ease-out;
}

nav {
    grid-area: nav;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    transform: translate(-0%, -100%);
    transition: transform 0.25s ease-in;
    background: rgba(0, 0, 0, 0.75);
    font-size: xx-large;
    z-index: 1;
}

nav:target {
    transform: translate(0, 0);
}


nav ul li {
    opacity: 1;
    list-style-type: none;
    margin: 2.5em;
    text-align: center;
}

nav > ul > li a:hover {
    opacity: 0.75;
    color: red;
    transition: opacity 0.25s ease-out;
}


.contact > ul {
    list-style-type: none;
}

.contact > ul > li {
    margin: 0.5em;
}

a {
    color:  white;
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
}

.topbar {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
    grid-template-areas: "h1 nav";  
    top: 0;
    width: 100vw;
    z-index: -3;
}

main {
    display: block;
    height: 77%;
    width: 71.5%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "info"
                          "info2";
    font-size: 2.5vh;
    font-size: 1.75vw;
    }
    




.info1 ul li {
    margin: 0.5em;
}








main div {
    color: white;
    font-family: 'Trispace', sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}


footer {
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Trispace';
    font-weight: lighter;
}

.info2 {
    font-size: 1.5vh;
    font-size: 1.5vw;
    grid-area: info2;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    grid-template-areas: "contact skills education"
}

.contact {
    grid-area: contact;
}

.skills {
    grid-area: skills;
}

.education {
    grid-area: education;
}