.navmenu {
    display:none;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(4px);
    z-index: -5;
}

h1 {
    grid-area: h1;
    color: white;
    font-family: 'Trispace', sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

h1 a:hover{
    opacity: 0.75;
    color: red;
    transition: opacity 0.25s ease-out;
}

nav {
    grid-area: nav;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

nav ul li {
    opacity: 1;
    margin-left: 10vw;
}


a.underline {
    position: relative;
}

a.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

a.underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

a {
    color:  white;
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
}

.topbar {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    grid-template-areas: "h1 nav";
    top: 0;
    width: 100%;
    z-index: -4;
}

.typewriter {
    display: block;
    font-family: 'Trispace', monospace;
    font-weight: lighter;
    color: white;
    letter-spacing: 2px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    z-index: -3;
    margin-top: 15em;
}


h2 {
    width: 20vw;
    border-right: 3px solid;
    animation: blink 1s step-end infinite;
    animation: typing 5s steps(30, end), blink 1s step-end infinite;

}


@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}


p {
    width: 50%;
    
}

footer {
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Trispace';
    font-weight: lighter;
    z-index: -2;
}

.button {
    position: relative;
    display: block;
    width: 10%;
    height: 4vh;
    color: white;
    border: 3px solid black;
    text-align: center;
    background-color: rgb(15, 19, 51);
    z-index: 1;
    pointer-events: all;

}

.button:hover {
    color: red;
}

.close {
    display: none;
}