.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(4px);
}

img {
    border-radius: 8px;
    max-width: 75%;
    max-height: 75%;
}
h1 {
    grid-area: h1;
    color: white;
    font-family: 'Trispace', sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

h1 a:hover{
    opacity: 0.75;
    color: red;   transition: opacity 0.25s ease-out;
}

nav {
    grid-area: nav;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}

nav ul li {
    opacity: 1;
}

nav > ul > li a:hover {
    opacity: 0.75;
    color: red;
    transition: opacity 0.25s ease-out;
}



a {
    color: white;
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
}

.topbar {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    grid-template-areas: "h1 nav";
    position: fixed;
    top: 0;
    width: 100vw;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: 'Trispace';
    font-weight: lighter;
}


.CSY1014 {
    grid-area: CSY1014;
    padding: 5px;
}

.CSY1017 {
    grid-area: CSY1017;
    padding: 5px;
}

.CSY1018 {
    grid-area: CSY1018;
    padding: 5px;
}

.CSY1019 {
    grid-area: CSY1019;
    padding: 5px;
}

.CSY1020 {
    grid-area: CSY1020;
    padding: 5px;
}

.CSY1026 {
    grid-area: CSY1026;
    padding: 5px;
}

main ul {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    grid-template-areas: "CSY1014 CSY1017 CSY1018"
                         "CSY1019 CSY1020 CSY1026";
    position: fixed;
    bottom: 0;
    width: 100%;

}

main ul li {
    list-style-type: none;
    color: white;
    font-family: 'Trispace', sans-serif;
    display: block;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

div section {
    color: white;
    font-family: 'Trispace', sans-serif;
    transform: translate(-100%, 0);
    transition: transform 0.25s ease-in;
    left: -100;
    opacity: 0;

}



.CSY1014info:target{
    display: block;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 100vh;
    width: 100%;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    transform: translate(0, 0);
    opacity: 1;
} 



.CSY1017info:target {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 100vh;
    width: 100%;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    transform: translate(0, 0);
    opacity: 1;
}

.CSY1018info:target {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 100vh;
    width: 100%;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    transform: translate(0, 0);
    opacity: 1;
}

.CSY1019info:target {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 100vh;
    width: 100%;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    transform: translate(0, 0);
    opacity: 1;
}


.CSY1020info:target {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 100vh;
    width: 100%;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    transform: translate(0, 0);
    opacity: 1;
}

.CSY1026info:target {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 100vh;
    width: 100%;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    transform: translate(0, 0);
    opacity: 1;
}

div > section > a {
    color: red;
}

div > section > a:hover {
    opacity: 0.75;
    color: white;
    transition: opacity 0.25s ease-out;
}

.close {
    display: none;
}

.navmenu {
    display: none;
}